/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/


body {
  padding-top: 100px;
  font-size: 12px;
  background-color: rgba(234, 200, 234, 0.5)
}

.hi {
  margin: 0px 0px 0px 0px;
  background:url('../img/typewriter.jpg');
  background-position:top;
  background-size:95%;
  background-repeat:no-repeat;
  height: 250px;
  font-weight: 100;
  font-family: Garamond, times, serif;

}

.welcome {
  font-size: 5em;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  top: 20%;
  color: rgba(255, 255, 255, 0.85);

}


.about {
  font-size: 2em;
  text-align: center;
  font-family: helvetica, arial, sans-serif;

}
.font_awesome li {
  display: inline;
}
.everything {

}

.tophalf {

}

.bolding{
  font-weight: bolder;
}

.education, .skills {
  font-family: Garamond, times, serif;
  justify-content: center;
}
.navbar-brand{
  font-family: helvetica, arial, sans-serif;
}
.experience {


}
.skills{

}
.date {
  font-family: Garamond, times, serif;
  font-style: italic;
}


.jobtitle {
  font-weight: bold;
  font-size: 1.75em;
  font-family: Garamond, times, serif;
}

.employer {
  font-size: 1.25em;
  font-family: helvetica, arial, sans-serif;
}
.duties{
  font-size: 1em;
  font-family: Garamond, times, serif;
}


.education{
  font-size: .9em;
}
.skills {

}



/* for x-small devices, tablets */
@media only screen and (min-width:480px) {
  .list-group{
  font-size: 1.1em
  }
  .expheadline{
    font-size: 2em;
  }
  .welcome {
      font-size: 3.5em;
      text-align: center;
      vertical-align: text-bottom;
      position: relative;
      top: 65%;
      color: rgba(255, 255, 255, 0.85);
      text-shadow: 2px 2px black;
    }
    .hi {
      margin: 0px 0px 0px 0px;
      background-position:top;
      background-size:98%;
      background-repeat:no-repeat;
      height: 340px;
      font-weight: 100;
    }
}
/* for small devices, tablets */
@media only screen and (min-width: 768px) {
  .skills, .education {
  font-size: 1.2em;
  }
  .hi {
    margin: 0px 0px 0px 0px;
    background-position:top;
    background-size:98%;
    background-repeat:no-repeat;
    height: 350px;
    font-weight: 100;
  }
  .welcome {
     font-size: 4em;
     text-align: center;
     vertical-align: text-bottom;
     position: relative;
     top: 70%;
     color: rgba(255, 255, 255, 0.85);
     }
   }
/* for medium tablets */

@media only screen and (min-width: 991px) {
  .skills, .education {
    font-size: 1.3em;
  }
  .expheadline{
    font-size: 3em;
  }
  .hi {
  margin: 0px 0px 0px 0px;
  background-position:top;
  background-size:98%;
  background-repeat:no-repeat;
  height: 480px;
  font-weight: 100;
  }
 .welcome {
     font-size: 5em;
     text-align: center;
     vertical-align: text-bottom;
     position: relative;
     top: 65%;
     color: rgba(255, 255, 255, 0.85);
   }
 }
/* for large screens*/

@media only screen and (min-width:1200px) {
  .skills, .education {
  font-size: 1.4em;
  }
  .expheadline{
  font-size: 3em;
  }
  .hi {
    margin: 0px 0px 0px 0px;
    background-position:top;
    background-size:98%;
    background-repeat:no-repeat;
    height: 550px;
    font-weight: 100;
  }
  .welcome {
      font-size: 5em;
      text-align: center;
      vertical-align: text-bottom;
      position: relative;
      top: 70%;
      color: rgba(255, 255, 255, 0.85);
    }
}
