/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

* {
  border: 1px solid purple;
}
body {
  padding-top: 100px;
  font-size: 12px;
}

.hi {
  margin: 0px 0px 0px 0px;
  background:url('../img/typewriter.jpg');
  background-position:top;
  background-size:95%;
  background-repeat:no-repeat;
  height: 250px;
  font-weight: 100;
  font-family: Garamond, times, serif;

}

.welcome {
  border: 1px solid white;
  font-size: 5em;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  top: 20%;
  color: rgba(255, 255, 255, 0.85);

}


.about {
  font-size: 2em;
  text-align: center;
  font-family: helvetica, arial, sans-serif;

}
.font_awesome li {
  display: inline;
}
.everything {

}

.tophalf {

}

.bolding{
  font-weight: bolder;
}

.education, .skills {
  font-family: Garamond, times, serif;
  justify-content: center;
}
.navbar-brand{
  font-family: helvetica, arial, sans-serif;
}
.experience {


}
.skills{

}
.date {
  font-family: Garamond, times, serif;
  font-style: italic;
}


.jobtitle {
  font-weight: bold;
  font-size: 1.75em;
  font-family: Garamond, times, serif;
}

.employer {
  font-size: 1.25em;
  font-family: helvetica, arial, sans-serif;
}
.duties{
  font-size: 1em;
  font-family: Garamond, times, serif;
}


.education{
  font-size: .9em;
}
.skills {

}

.navbar-brand {
  font-family: 'Roboto Condensed', arial, sans-serif;
}


/* for x-small devices, tablets */
@media only screen and (min-width:480px) {
  .list-group{
  font-size: 1.1em
  }
  .expheadline{
    font-size: 2em;
  }
<<<<<<< HEAD
<<<<<<< HEAD
  .welcome {
      font-size: 3.5em;
      text-align: center;
      vertical-align: text-bottom;
      position: relative;
      top: 65%;
      color: rgba(255, 255, 255, 0.85);
      text-shadow: 2px 2px black;
    }
    .hi {
      margin: 0px 0px 0px 0px;
      background-position:top;
      background-size:98%;
      background-repeat:no-repeat;
      height: 340px;
      font-weight: 100;
    }
}
/* for small devices, tablets */
@media only screen and (min-width: 768px) {
  .skills, .education {
  font-size: 1.2em;
  }
  .hi {
    margin: 0px 0px 0px 0px;
    background-position:top;
    background-size:98%;
    background-repeat:no-repeat;
    height: 350px;
    font-weight: 100;
  }
  .welcome {
     font-size: 4em;
     text-align: center;
     vertical-align: text-bottom;
     position: relative;
     top: 70%;
     color: rgba(255, 255, 255, 0.85);
=======
}
/* for small devices, tablets */
@media only screen and (min-width: 768px) {
=======
}
/* for small devices, tablets */
@media only screen and (min-width: 768px) {
>>>>>>> parent of ed61d7b... Formatting

    .list-group{
    font-size: 1em;
    }
    .hi {
      margin: 0px 0px 0px 0px;
      background:url('https://cdn.pixabay.com/photo/2016/01/22/23/08/typewriter-1156827_960_720.jpg');
      background-position:top;
      background-size:95%;
      background-repeat:no-repeat;
      height: 280px;
      font-weight: 100;
      font-family: "EB Garamond", times, serif;
   }
   .welcome {
       font-size: 5em;
       text-align: center;
       vertical-align: text-bottom;
       position: relative;
       top: 60%;
       color: rgba(255, 255, 255, 0.85);
<<<<<<< HEAD
>>>>>>> parent of ed61d7b... Formatting
=======
>>>>>>> parent of ed61d7b... Formatting
     }
   }
}
/* for medium tablets */
@media only screen and (min-width: 991px) {
<<<<<<< HEAD
<<<<<<< HEAD
  .skills, .education {
    font-size: 1.3em;
=======
=======
>>>>>>> parent of ed61d7b... Formatting

  .list-group {
    font-size: 1.5em;
>>>>>>> parent of ed61d7b... Formatting
  }
  .expheadline{
    font-size: 3em;
  }
  .hi {
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 0px 0px 0px 0px;
  background-position:top;
  background-size:98%;
  background-repeat:no-repeat;
  height: 480px;
  font-weight: 100;
=======
=======
>>>>>>> parent of ed61d7b... Formatting
    margin: 0px 0px 0px 0px;
    background:url('https://cdn.pixabay.com/photo/2016/01/22/23/08/typewriter-1156827_960_720.jpg');
    background-position:top;
    background-size:95%;
    background-repeat:no-repeat;
    height: 480px;
    font-weight: 100;
    font-family: "EB Garamond", times, serif;
<<<<<<< HEAD
>>>>>>> parent of ed61d7b... Formatting
=======
>>>>>>> parent of ed61d7b... Formatting
  }
 .welcome {
     font-size: 5em;
     text-align: center;
     vertical-align: text-bottom;
     position: relative;
     top: 60%;
     color: rgba(255, 255, 255, 0.85);
   }
 }
/* for large screens*/

@media only screen and (min-width:1200px) {
  .skills, .education {
  font-size: 1.4em;
  }
  .expheadline{
  font-size: 3em;
  }
  .hi {
    margin: 0px 0px 0px 0px;
    background-position:top;
    background-size:95%;
    background-repeat:no-repeat;
<<<<<<< HEAD
<<<<<<< HEAD
    height: 550px;
=======
    height: 480px;
>>>>>>> parent of ed61d7b... Formatting
=======
    height: 480px;
>>>>>>> parent of ed61d7b... Formatting
    font-weight: 100;
  }
  .welcome {
      font-size: 5em;
      text-align: center;
      vertical-align: text-bottom;
      position: relative;
      top: 70%;
      color: rgba(255, 255, 255, 0.85);
    }
}
