/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
body {
  padding-top: 100px;
  font-size: 12px;
  }
.graphicblock{
  border-top: 5px solid green;
  border-bottom: 5px solid green;
  padding: 5px;
  margin-top: 5px;
}
.widegraphicblock{
  border-top: 5px solid green;
  border-bottom: 5px solid green;
  padding: 5px;
}
.textblock {
  padding: 5px;
  border: 3px solid black;
}
.timeline_explainer {
  border: 3px solid black;
}
.headertext {
  border: 3px solid black;
}
.bodytext{
  border: 3px solid black;
  width: 100%;
  margin-left: 0px;
}
.graphiccontent {
  margin-left: 0px;
}
.toptext{
  text-align: center;
  font-size: 2rem;
}
.byline {
  font-size: 1rem;
  text-align: center;
}
.lead {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 60px;
}
.footer{
  padding-top: 40px;
}
#graph_one {
  border: 3px inset;
}
#graph_two {
  border: 3px inset;
}
#graph_three {
  border: 3px inset;
}
#graph_four {
  border: 3px inset;
}
.overlaybox {
  width: 200px;
  height: 150px;
  padding-top: 10px;
  border: 1px solid #aaa;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: #eee;
  margin-left: 30px;
}
.topgross {
  background-color: #ff0000;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.twogross {
  background-color: #00ffff;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.threegross {
  background-color: #00ff00;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.fourgross {
  background-color: #ffff00;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.fivegross {
  background-color: #ff9900;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.sixgross {
  background-color: #eeeeee;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

/* assigns an image to the background dictates how big it is*/


/* for x-small devices, tablets */
@media only screen and (max-width: 768px) {

}
/* for small devices, tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
/* for medium tablets */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* changes around the background image size, and fonts for skills, education */

 }
/* for large screens*/
@media only screen and (min-width:1200px) {
  /* modifies the font size of skills, edication and the background size */

}
