/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
body {
  padding-top: 100px;
  font-size: 12px;
  }
.container {
  padding-left: 200px;
  padding-right: 200px;
}
.graphicblock{
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.topsection{
background-color: #e3e7ea;
border-top: 3px solid #C83200;
border-bottom:  3px solid #C83200;
}
.header{
  padding: 50px 0px 10px 0px;
  font-size: 6rem;
  font-family: helvetica, sans-serif;
  line-height: 4.7rem;
}
.bodytext{
  width: 100%;
  margin-left: 0px;
}

.graphiccontent {
  margin-left: 0px;
}
.toptext{
  text-align: center;
  padding: 20px 0px;
  font-size: 7rem;
  font-family: helvetica, sans-serif;
}
.text {
  text-align: center;
  padding: 0px 40px;
  font-size: 2.5rem;
  font-family: garamond, serif;
}
.byline {
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
  font-family: garamond, serif;
}
.lead {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding: 60px 100px;
  font-family: garamond, serif;
}
  .bottomline {
  border-top: 3px solid #C83200;
}

.footer{
  padding-top: 40px;
}
#graph_one {
  border: 3px inset;
}
#graph_two {
  border: 3px inset;
}
#graph_three {
  border: 3px inset;
}
#graph_four {
  border: 3px inset;
}
#graph_five {
  border: 3px inset;
}
#graph_six {
  border: 3px inset;
}


.overlaybox {
  width: 200px;
  height: 150px;
  padding-top: 10px;
  border: 1px solid #aaa;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: #eee;
  margin-left: 30px;
}
.topgross {
  background-color: #ff0000;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.twogross {
  background-color: #00ffff;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.threegross {
  background-color: #00ff00;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.fourgross {
  background-color: #ffff00;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.fivegross {
  background-color: #ff9900;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}
.sixgross {
  background-color: #eeeeee;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

/* assigns an image to the background dictates how big it is*/


/* for x-small devices, tablets */
@media only screen and (max-width: 768px) {
  .lead {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: garamond, serif;
  }
  .toptext{
    text-align: center;
    font-size: 5rem;
    font-family: helvetica, sans-serif;
  }
  .byline {
      font-size: 2rem;
      text-align: center;
      font-family: garamond, serif;
    }
  .text {
    text-align: center;
    font-size: 2rem;
    font-family: garamond, serif;
  }
  .header{
    padding: 20px 0px;
    font-size: 5rem;
    font-family: helvetica, sans-serif;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* for small devices, tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* for medium tablets */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* changes around the background image size, and fonts for skills, education */
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
 }
/* for large screens*/
@media only screen and (min-width:1200px) {
  /* modifies the font size of skills, edication and the background size */

}
