/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
body {
  font-size: 12px;

  }
/* assigns an image to the background dictates how big it is*/
#hidden {
  display: none;
}
.shareicons {
  height: 30px;
  font-size: 2rem;
  text-align:center;
  display:table;
  vertical-align:middle;
  width:100%;
}
.welcome {
  font-size: 7rem;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  padding-top: 30px;
  font-family: "Roboto", helvetica, sans-serif;
  font-variant-ligatures: none;
  background-color: rgba(234, 200, 234, 0.7);
    }
.hi{
  padding-top: 45px;
  z-index: 1;
  top: 30%;
}
.about {
  font-size: 1.5em;
  text-align: center;
  font-family: Garamond, times, serif;
  }
.font_awesome {
  background-color: rgba(234, 200, 234, 0.7);
}
.font_awesome li {
  display: inline;
  padding-top: 50px;
  }
/* similarly to .tophalf this controls the whole page */
.expheadline{
  font-size: 2em;
  }
.everything {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  }
/* the master controller for everything above the experience and skills and education. But I didn't really want to have anything be globally controlled. So I left it blank. */
/* bolds the span in education */
.bolding{
  font-weight: bolder;
  }
.education_skills {
  font-family: Garamond, times, serif;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
  padding-top: 10px;
  font-size: 1.75rem;
  }

/* sets the font for the navbar  */
.navbar-brand{
  font-family: "Roboto", arial, sans-serif;
  }
.experience {
  background-color: #fff;
  }
/* ids date's font family and style */
.date {
  font-family: Garamond, times, serif;
  font-style: italic;
  font-size: 1.55rem;
  }
.jobtitle {
  font-weight: bold;
  font-size: 1.75em;
  font-family: Garamond, times, serif;
  margin-bottom: 0px;
  }
.employer {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-family: "Roboto", arial, sans-serif;
  }

.duties{
  font-size: 1.4em;
  font-family: Garamond, times, serif;
  line-height: 1.25em;
  }
.jobleft  {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  }
.footer {
  font-family: Garamond, times, serif;
  font-size: 1.3em;
  text-align: center;
  margin-top:60px;
  }
.smallhead {
  font-size: 2.25em;
  font-family: "roboto", arial, sans-serif;
  text-align: left;
  }
.list-group-two , .list-group-one {
  text-align: left;
  padding-left: 30px;
  }
.fa-twitter {
  color: #9932CC;
  }
.fa-linkedin-square{
  color: #9932CC;
  }
.fa-github-square{
  color: #9932CC;
  }
.fa-envelope{
  color: #9932CC;
  }

/* for x-small devices, tablets */
@media only screen and (max-width: 768px) {
.education, .skills {
  font-size: 1.3em;
  padding-top: 10px;
  }
.welcome {
  font-size: 4rem;
}
.skills {
  padding-top: 5px;
  margin-top: 10px;
  }
/* drops down the headline text further */
.expheadline{
  font-size: 2em;
  }
/*makes the welcome background banner smaller for smaller screens*/

.list-group-two , .list-group-one{
  list-style-type: none;
}
  /* again changes the height of my text, Chris Cioffi, reporter smaller moves it a skootch */
  .education_skills{
    padding: 10px 0px 10px 0px;
  }
/* for small devices, tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.skills, .education {
  font-size: 1.3em;
  }
.hi {
  height: 100px;
}
.list-group-two , .list-group-one{
  list-style-type: none;
  }
.skills {
  padding-top: 5px;
  margin-top: 4px;
  }
.education_skills{
  padding: 10px 0px 10px 0px;
  line-height: 2rem;
  }
}
/* for medium tablets */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* changes around the background image size, and fonts for skills, education */
.skills, .education {
  font-size: 1.35em;
  }
/* pares down my name to make it fit better  */
.expheadline{
  font-size: 3em;
  }
.list-group-one , .list-group-two{
  float: left;
  list-style-type: none;
   }
 .skills {
   padding-top: 10px;
   margin-top: 0px;
   }
 }
/* for large screens*/
@media only screen and (min-width:1200px) {
  /* modifies the font size of skills, edication and the background size */
.skills, .education {
  font-size: 1.4em;
  }
  /* greeting font for the website. Sets it down the image 20%  */
.list-group-one , .list-group-two{
  float: left;
  list-style-type: none;
}
.expheadline{
 font-size: 5em;
 }
}
