/* affects headers, and name*/


body {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* created universal selector with div instead of h1, etc */

div, p, ul , li {
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  color: #444;
  font-weight: 300;

}

a:link {
  color: #444;
  text-decoration: none;
}
/* changed h1 to name and added solid border with color and added margins  */

#name  {
  font-size: 4em;
  border-bottom: 1px solid #FDB020;
  margin: 5px auto;
  width: 60%;
  min-width: 300px ;
  text-align: center;
}

.job {
  margin: 0px 0px 15px 0px;
}

#experience, #education, #skills {
  margin: 0px auto 20px auto;
  padding: 10px;
  height: auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 90%;
}

#top {
  margin: 0px 0px 35px 0px;
  padding:0px 0px 10px 0px;
  background: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

#bottom {
  margin:0px auto;
  position: relative;
  top: 120px;
  width: 95%;
  height: auto;
  overflow: auto;
}

.alljobs {
  width: 65%;
  float: left;
  margin: 0px 0px 0px 4%;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: rgba(254, 203, 108, 0.3);
  padding: 0px 0px 0px 20px;
}

/* changed h2 to sectionheader and tinkered with margins, etc */
.sectionheader {
  border-bottom: 1px solid rgba(254, 203, 108, 0.4);
  font-size: 2em;
  float: left;
  margin: 7px 0px 10px 0px;
  text-align: center;
  width: 30%;
  min-width: 150px;
  text-transform: uppercase;
  background-color: #d1d1d1;
  color: rgba(255,255,255,1);
}
/* changed to div, left the same */
.jobtitle {
  font-weight:600;
  font-size: 150%;
}
/* changed to div, left the same */

 .organization {
  font-size: 133%;
}
/* changed to div, set top margin to 2 px */

.date {
  margin: 2px 0px 0px 0px;
  font-style: italic;
  font-size: 100%;
}
/* changed to div, set top margin to 10 px */

.description {
  margin: 10px 0px 0px 0px;
  font-size: 100%;
}
/* created menu, added padding and margins */
.menu
 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  }

/* finds all li in .menu, displays them inline */
.menu li {
  display: inline;
}

/* added margins*/
.degrees, .do {
  margin: 0px 0px 0px 4%;
  width: 65%;
  float: left;
  list-style-type: none;
  -webkit-padding-start: 21px;
  border-left: 1px solid rgba(254, 203, 108, 0.4);
}

.do li, .degrees li {
  margin-top: 3px;
}

.bolding {
  font-weight: 600;
}

/*this is x-small devices, mobile devices */

@media only screen and (max-width: 767px){
  #top {
    position: absolute;
  }
  #bottom {
    margin-top: 0px;
  }
  #name {
    font-size: 3em;
  }
  .alljobs{
    width: 100%;
    margin: 0px;
    border-left: 0px;
    padding: 10px;
  }
  .sectionheader{
    margin: 10px auto 15px auto;
    padding: 5px 10px;
    width: 97%;
    min-width: 0px;
    text-align: center;
    float: none;
  }
  .degrees li, .do li {
    margin: 15px, 2%, 0px, 2%;
    padding: 0px, 20px;
    width: 100%;
    float: none;
  }
}
/* for small devices, tablets */

@@media only screen and (max-width: 991px) and (min-width:768px) {
  #top {
    background-color: red;
  }
}

/* for medium range devices, tablets */


@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* for large desktops */


 @@media only screen and (min-width: 1200px) {

 }
