/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
body {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  }
/*for Portfolio and Index pages: */
/* controls the fa-fa-buttons */
.fa-twitter {
  color: #9932CC;
  }
.fa-linkedin-square{
  color: #9932CC;
  }
.fa-github-square{
  color: #9932CC;
  }
.fa-envelope{
  color: #9932CC;
  }
.font_awesome li {
  display: inline;
  padding-top: 25px;
  }
/* end of fa-fa buttons */
/* controls the background color for top section */
  .topsection {
    background-color: rgba(234, 200, 234, 0.7);
  }
  .welcome {
    font-size: 5rem;
    text-align: center;
    vertical-align: text-bottom;
    position: relative;
    padding-top: 30px;
    font-family: "Roboto", helvetica, sans-serif;
      }
  .hello_world{
    font-size: 1.5rem;
    font-family: garamond, times, serif;
    text-align: center;
  }
/* end of top section controls */
  .bottomsection {
    display: inline-block;
  }
  .title {
    width: 300px;
    position: relative;
    margin-left: 30px;
    font-size: 3rem;
    top: 550px;
    text-align: center;
    z-index: 1;
}
.headline {
  font-family: Garamond, times, serif;
  font-size:
}
/*specific to the D3 chart...*/
#title {
	background-color: darkblue;
	color: white;
	padding: 10px;
	text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: limegreen;
  stroke-width: 2px;
}
/*tooltip styling borrowed from https://bl.ocks.org/alandunning/cfb7dcd7951826b9eacd54f0647f48d3*/
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
/* end of D3 styling items*/

p {
padding: 0px;
font-size: 1.75rem;
line-height: 2rem;
font-family: garamond, times, serif;
}

.separator{
  border-top: 2px solid #000000;
  margin-right: 50px;
  margin-left: 50px;
}
#demographicchart {
  border: 5px inset;
}
#medicaid_dentists {
  border: 5px inset;
}
#dental_exams {
  border: 5px inset;
}
#medicaid_payouts {
  border: 5px inset;
}
#cartomap{
  border: 5px inset;
}
.hi{
  padding-top: 15px;
}

.headerimage{
  width:100%;
  position: relative;
  padding-bottom: 25px;
}
.byline {
  font-size: 1.5rem;
  text-align: center;
  font-family: helvetica, sans-serif;
}
.headlinebox {
}
.fancyletter{
  font-size: 5em;
  padding-top: 15px;
}
.part_one{

}

.photobox_one{

}
.textbox_one{

}
.photo_one {
  height: 150px;
  background-color: yellow;
}
.photo_two {
  height: 150px;
  background-color: yellow;
}
.photo_three {
  height: 150px;
  background-color: yellow;
}

.about {
  font-size: 2em;
  text-align: center;
  font-family: Garamond, times, serif;
  }

.footer {
  text-align: center;

}
/* for x-small devices, tablets */

@media only screen and (max-width: 768px) {
  .title {
    display: inline;
    width: 300px;
    margin-left: 30px;
    font-size: 3rem;
    top: 40px;
    padding: 60px;
    text-align: center;
    z-index: 1;
  }
}
/* for small devices, tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title {
    width: 300px;
    position: relative;
    margin-left: 30px;
    font-size: 3rem;
    top: 350px;
    text-align: center;
    z-index: 1;
  }
}
/* for medium tablets */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/* changes around the background image size, and fonts for skills, education */
.title {
  width: 300px;
  position: relative;
  margin-left: 30px;
  font-size: 3rem;
  top: 450px;
  text-align: center;
  z-index: 1;
}
}
/* for large screens*/

@media only screen and (min-width:1200px) {
}
/* modifies the font size of skills, edication and the background size */
