/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
body {
  font-size: 12px;

  }

  .bottomsection {
    display: inline-block;
  }
  .title {
    width: 300px;
    position: relative;
    margin-left: 30px;
    font-size: 3rem;
    top: 550px;
    text-align: center;
    z-index: 1;
}
.headline {
  font-family: Garamond, times, serif;
  font-size:
}

p {
padding: 0px;
font-size: 1.75rem;
line-height: 2rem;
font-family: garamond, times, serif;
}

.separator{
  border-top: 2px solid #000000;
  margin-right: 50px;
  margin-left: 50px;
}
#medicaid_dentists {
  border: 5px inset;
}
#dental_exams {
  border: 5px inset;
}

.headerimage{
  width:100%;
  position: relative;
  padding-bottom: 25px;
}
.byline {
  font-size: 1.5rem;
  text-align: center;
  font-family: helvetica, sans-serif;
}
.headlinebox {
}
.welcome {
  font-size: 5em;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  top: 20%;
    }
.fancyletter{
  font-size: 5em;
  padding-top: 15px;
}
.part_one{

}
.photobox_one{

}
.textbox_one{

}
.photo_one {
  height: 150px;
  background-color: yellow;
}
.photo_two {
  height: 150px;
  background-color: yellow;
}
.photo_three {
  height: 150px;
  background-color: yellow;
}

.graph_one{
  height: 500px;
  width: 500px;
  background-color: yellow;
}
.graph_two{

}
.graph_four{
  height: 500px;
  width: 500px;
  background-color: yellow;
}

.about {
  font-size: 2em;
  text-align: center;
  font-family: Garamond, times, serif;
  }
.font_awesome li {
  display: inline;

  }
.footer {
  text-align: center;

}
/* for x-small devices, tablets */

@media only screen and (max-width: 768px) {
  .title {
    display: inline;
    width: 300px;
    margin-left: 30px;
    font-size: 3rem;
    top: 40px;
    padding: 60px;
    text-align: center;
    z-index: 1;
  }
}
/* for small devices, tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title {
    width: 300px;
    position: relative;
    margin-left: 30px;
    font-size: 3rem;
    top: 350px;
    text-align: center;
    z-index: 1;
  }
}
/* for medium tablets */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/* changes around the background image size, and fonts for skills, education */
.title {
  width: 300px;
  position: relative;
  margin-left: 30px;
  font-size: 3rem;
  top: 450px;
  text-align: center;
  z-index: 1;
}
}
/* for large screens*/

@media only screen and (min-width:1200px) {
}
/* modifies the font size of skills, edication and the background size */
