/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
body {
  font-size: 12px;
  }
.container {
    margin: 0 !important;
}

/*for Portfolio and Index pages: */
/* controls the fa-fa-buttons */
.fa-twitter {
  color: #9932CC;
  }
.fa-linkedin-square{
  color: #9932CC;
  }
.fa-github-square{
  color: #9932CC;
  }
.fa-envelope{
  color: #9932CC;
  }
.font_awesome li {
  display: inline;
  padding-top: 50px;
}
.font_awesome{
  -webkit-padding-start: 0px;
}
.font_awesome {
  padding-top: 30px;
  background-color: rgba(234, 200, 234, 0.7);
}
.shareicons {
  height: 30px;
  font-size: 2rem;
  text-align:center;
  display:table;
  vertical-align:middle;
  width:100%;
}
i {
  margin-left: 10px;
  font-size: 30px;
  height: 30px;
  display:table-cell;
  vertical-align:middle;
}
/* end of fa-fa buttons */


/* controls the background color for top section */
.topsection {
  background-color: rgba(234, 200, 234, 0.7);
}
.subhead  {
  font-size: 3rem;
}
.hello_world {
  font-size: 2.5rem;
  font-family: garamond, times, serif;
  text-align: justify;
  padding: 25px;
}
.hello_worldone{
  font-size: 2.5rem;
  font-family: garamond, times, serif;
  text-align: center;
  padding: 25px;
}
.welcome {
  font-size: 7rem;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  padding-top: 30px;
  font-family: "Roboto", helvetica, sans-serif;
  font-variant-ligatures: none;
    }
.hi{
  padding-top: 45px;
  z-index: 1;
  top: 30%;
}
.about {
  font-size: 1.5em;
  text-align: center;
  font-family: Garamond, times, serif;
  }
.hi {
  background-color: rgba(234, 200, 234, 0.7);
  height: 150px;
}
.photo_of_me {
padding-top: 25px;
}
.photo_final {
  padding: 20px 0px;
}
/* end of top section controls */

/* assorted bottom controls*/
.title {
  width: 350px;
  position: absolute;
  margin-left: 30px;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
}
.fulltitle {
  position: relative;
  padding-top: 25px;
  margin-bottom: -75px;
  }
.headlineone {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  font-weight: 600;
  width: auto;
}
.headlinetwo {
  font-size: 1.7rem;
  color: white;
}
.llinetwo {
font-family: "Roboto", helvetica, sans-serif;
font-size: 1.5rem;
font-weight: 100;
color: white;
font-weight: 600;
width: auto;
}
.byline {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-family: "Roboto", helvetica, sans-serif;
}
.crane {
  height: 100%;
}
#hidden {
  display: none;
}
#dental_exams, #demographicchart, #medicaid_dentists, #dental_exams, #medicaid_payouts {

  }
/* Resume-related items*/
.everything {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.expheadline{
  font-size: 2em;
}
.bolding{
  font-weight: bolder;
  }
.education_skills {
  font-family: Garamond, times, serif;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
  padding-top: 10px;
  font-size: 1.75rem;
  }
.education_skills ul {
  list-style: none;
}
.experience {
  background-color: #fff;
  }
.date {
  font-family: Garamond, times, serif;
  font-style: italic;
  font-size: 1.55rem;
  }
.jobtitle {
  font-weight: bold;
  font-size: 1.75em;
  font-family: Garamond, times, serif;
  margin-bottom: 0px;
  }
.employer {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-family: "Roboto", arial, sans-serif;
  }

.duties{
  font-size: 1.4em;
  font-family: Garamond, times, serif;
  line-height: 1.25em;
  }
.jobleft  {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  }
.footer {
  font-family: Garamond, times, serif;
  font-size: 1.3em;
  text-align: center;
  margin-top:60px;
  }
.smallhead {
  font-size: 2.25em;
  font-family: "roboto", arial, sans-serif;
  text-align: left;
  }
.list-group-two , .list-group-one {
  text-align: left;
  padding-left: 30px;
  line-height: 1.3;
  }
/*This controls the previews on portfolio page https://bootsnipp.com/snippets/4RDW
I opted to not use it.
#frame_one, #frame_two, #frame_three {
    width: 800px;
    height: 520px;
    border: none;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 0 0;
}
/* portfolio related items */

.textoverlay {
  width: 75%;
  margin: 0 auto 0 auto;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 200px;
}
.headline {
  color: 	#f0f0ed;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.explainer {
  font-size: 1.6rem;
}
.row {
}
.graph, .cartomap  {
  padding: 15px 15px;
  border: 1px solid black;
}
/* end of portfolio page info*/

/* styling for final project */
.introimage{
  width:100%;
  position: absolute;
  padding-bottom: 25px;
}
.headerimage{
  width:100%;
  padding-bottom: 25px;
  padding-top: 75px;
}

.headlinebox {
  padding-top: 0px;
}
.fancyletter{
  font-size: 5em;
  padding-top: 15px;
}

/*specific to the D3 chart...thanks to  Peter Freschi https://github.com/pfreschi/IntroToD3 */
#title {
	background-color: darkblue;
	color: white;
	padding: 10px;
	text-align: center;
}

.samplebox {
  margin-bottom: 10px;
  position: relative;
  max-height: 400px;
}

.test {
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}
/*tooltip styling borrowed from https://bl.ocks.org/alandunning/cfb7dcd7951826b9eacd54f0647f48d3*/
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
/* end of D3 styling items*/
/*
highcharts formatting borrowed from Highcharts website
*/
img {
    max-width: 100%;
    max-height: 100%;
}
/* end of highcharts formatting */
p {
font-size: 1.75rem;
line-height: 2rem;
font-family: garamond, times, serif;
}
.thumbnail {
  margin:auto;
}
.separator{
  border-top: 2px solid #000000;
  margin-right: 50px;
  margin-left: 50px;
}
.title {

}
/* For graphs */

.photo_text{
  font-size: 1.25rem;
}
/* For graphs */


/*the end of final project stuff */
.footer {
  text-align: center;

}
/*
/* for x-small devices, tablets */

@media only screen and (max-width: 768px) {

.welcome {
  font-size: 4rem;
}
.title {
  width: 250px;
  position: absolute;
  margin-left: 0px;
  text-align: center;
  z-index: 1;
  bottom: 60px;
}
.headlineone {
  font-size: 1.6rem;
}
.fulltitle {
  position: relative;
  padding-top: 25px;
  margin-bottom: 0px;
}
.headlinetwo {
  font-size: 1.3rem;
}
.skills {
  padding-top: 5px;
  margin-top: 10px;
  }
.about_me {
  padding-right: 0px;
  padding-left: 0px;
}
/* drops down the headline text further */
.expheadline{
  font-size: 2em;
  }
/*makes the welcome background banner smaller for smaller screens*/

/* again changes the height of my text, Chris Cioffi, reporter smaller moves it a skootch */
.education_skills{
  padding: 10px 0px 10px 0px;
}
.hi {
  height: 100px;
}
.topsection {
  background-color: rgba(234, 200, 234, 0.7);
}
/* For the portfolio page*/
.work_samples{
text-align: center;
}
.textoverlay {
  position: relative;
  font-size: 1.4rem;
  text-align: center;
  z-index: 1;
}
footer {
  padding: 30px;
}
.hi {
  height: 100px;
}
.skills {
  padding-top: 5px;
  margin-top: 4px;
  }
.samplebox {
  border-top: 1px solid 	#ddd;
  padding-top: 35px;
}
}
/* for small devices, tablets */

@media only screen and (min-width: 769px) {
/* For the portfolio page*/
.work_samples{
text-align: center;
}
.explainer {
  font-size: 1.4rem;
}
.title {
width: 300px;
font-size: 3rem;
text-align: center;
position: relative;
z-index: 1;
bottom: 220px;
}
footer {
  padding: 30px;
}
.skills, .education {
  font-size: 1.3em;
  }
.hi {
  height: 150px;
}
.list-group-two , .list-group-one{
  list-style-type: none;
  }
.skills {
  padding-top: 5px;
  margin-top: 4px;
  }
.education_skills{
  padding: 10px 0px 10px 0px;
  line-height: 1.4rem;
  }
}
/* for medium tablets */

@media only screen and (min-width: 992px) {

/* changes around the background image size, and fonts for skills, education */
.title {
  width: 300px;
  margin-left: 30px;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  bottom: 220px;
}
/* For the portfolio page*/
.work_samples{
text-align: center;
}
.textoverlay {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
}
footer {
  padding: 30px;
}
/* changes around the background image size, and fonts for skills, education */
.skills, .education {
font-size: 1.35em;
}
/* pares down my name to make it fit better  */
.expheadline{
  font-size: 3em;
  }
.list-group-one , .list-group-two{
  float: left;
  list-style-type: none;
   }
 .skills {
   padding-top: 10px;
   margin-top: 0px;
   }
}
/* for large screens*/

@media only screen and (min-width:1200px) {
.topsection {
  background-color: rgba(234, 200, 234, 0.7);
  height: 400px;
}
/* For the portfolio page*/
.work_samples{
  text-align: center;
}
.title {
  width: 300px;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  bottom: 270px;
}
.textoverlay {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
}
  footer {
    padding: 30px;
  }
  .skills, .education {
    font-size: 1.4em;
    }
    /* greeting font for the website. Sets it down the image 20%  */
  .list-group-one , .list-group-two{
    float: left;
    list-style-type: none;
  }
  .expheadline{
   font-size: 5em;
   }
}
/* modifies the font size of skills, edication and the background size */
